.contact-form {
	overflow: hidden;
	background-color: var(--secondary-color);
}
.contact__form,
.contact__form-top {
	display: flex;
	flex-direction: column;
	color: var(--main-color);
}
.contact-form__heading {
	color: var(--pure-white-color);
}
.contact__form-label {
	margin-bottom: 8px;
	text-transform: uppercase;
}
.contact__form-input,
.contact__form-textarea {
	margin-bottom: 15px;
	padding: 5px 10px;
	border: 0.1px solid var(--secondary-color);
	font-size: 15px;
	border-radius: 0;
}
.contact__form-textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 150px;
}
.contact__form-btn {
	font-size: 20px;
	padding: 10px;
	width: 100%;
	color: var(--pure-white-color);
	border: 0.1px solid var(--secondary-color);
	background-color: var(--main-color);
	cursor: pointer;
	border-radius: 0;
	transition: transform 1s, background-color 1s;
}
.contact__form-btn:hover {
	background-color: var(--dark-color);
	transform: scale(1.1);
}
.contact__form-checkbox {
	font-size: 14px;
	padding: 10px;
}

@media (min-width: 768px) {
	.contact__form-btn {
		align-self: flex-end;
		max-width: 400px;
	}

}
@media (min-width: 992px) {

	.contact__form-checkbox {
		font-size: 16px;
	}
}
