.footer {
	color: var(--pure-white-color);
	background-color: var(--main-color);
}
.footer__boxes{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer .section {
	padding: 40px 15px 15px;
}
.footer__box {
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
}
.footer__box-title {
	margin: 17px 0;
	font-size: 18px;
	text-transform: uppercase;
}
.footer__box-social {
	margin: 15px 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer__box-link {
	padding: 0 20px;
	font-size: 35px;
	color: var(--pure-white-color);
	text-decoration: none;
	transition: color 0.3s;
}

.footer__bottom-text {
	text-decoration: none;
	color: inherit;
	padding: 7px;
	display: inline-block;
}
.footer__box p {
	text-decoration: none;
	color: inherit;
}
.footer__box-list,
.footer__bottom-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin-top: 15px;
}
.footer__bottom-box {
	background-color: var(--secondary-color);
	font-size: 16px;
}
.footer__box-list-item,
.footer__box-list-item a,
.footer__privacy-policy {
	text-decoration: none;
	color: inherit;
	margin-bottom: 10px;
}
.footer_logo {
	width: 300px;
	margin: 0 auto;
	padding: 25px;
}
.footer__privacy-policy {
	color: var(--dark-color);
	margin: 10px;
}

.privacy-message,
.privacy-message__button-box {
	display: flex;
	padding: 10px;
	color: var(--pure-white-color);
}
.privacy-message {
	position: fixed;
	bottom: 0;
	width: 100vw;
	background-color: var(--main-color);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	margin: 0 auto;
}
.privacy-message__button,
.privacy-message__icon {
	color: var(--dark-color);
	text-decoration: none;
	border: 0;
	margin: 7px;
	border-radius: 8px;
	background-color: var(--pure-white-color);
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

@media (min-width: 768px) {
	.footer__boxes {
		display: flex;
		justify-content: space-between;
	}
	.footer__box {
		margin: 0 15px;
		width: 40%;
	}
	.footer__box-list-item {
		margin-bottom: 7px;
		text-align: left;
	}
	.privacy-message {
		flex-direction: row;
	}
}
