.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
	height: 80vh;
	width: 100%;
	min-height: 800px;
	overflow: hidden;
	background-image: var(	--background-gradient-secondary);
}

.header__title {
	color: var(--main-color);
	font-size: 32px;
	margin-top: 80px;
	text-transform: uppercase;
	padding: 25px 10px;
	font-weight: bolder;
}

.header__text {
	font-size: 20px;
	padding-bottom: 50px;
	color: var(--pure-white-color);
}

.header__btn {
	padding: 10px 70px;
	margin-bottom: 30px;
	width: 280px;
	text-decoration: none;
	background-color: var(--main-color);
	cursor: pointer;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: var(--secondary-color);
	animation: fadeIn 1s ease-in-out;
}

.header__icon {
	position: absolute;
	bottom: 0;
	font-size: 45px;
	color: var(--main-color);
	animation: scale 2s infinite ease-in-out;
}

@media (min-width: 768px) {
	.header__icon {
		padding: 10px;
	}
	.header__btn {
		font-size: 25px;
		width: 410px;
	}
	.header__title {
		font-size: 45px;
	}
	.header__text {
		font-size: 30px;
	}
}

@media (min-width: 992px) {
	.header__title {
		font-size: 65px;
	}
}
