.hero-img {
	position: relative;
	height: 60vh;
	width: 100%;
	overflow: hidden;
}

.hero-img__mobile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1000;
}

@media (min-width: 992px) {
	.hero-img__mobile {
		display: none;
	}
	.hero-img {
		padding: 200px 50px;
		background-image: var(--background-gradient), url('../img/building-1080599_1280.webp');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}
