.hero-img {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.hero-img__mobile {
	width: 100%;
	height: auto;
}

@media (min-width: 992px) {
	.hero-img__mobile {
		display: none;
	}
	.hero-img {
		padding: 200px 50px;
		background-image: var(--background-gradient), url('../img/building-1080599_1280.webp');
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}
