.hero-img {
	position: relative;
	overflow: hidden;
	width: 100%;
	background-image: var(--background-gradient);
}

.hero-img__mobile {
	width: 100%;
	height: auto;
}
.animate-pulse {
	animation: pulse 1s ease-in-out;
}
@media (min-width: 992px) {
	.hero-img__mobile {
		display: none;
	}
	.hero-img {
		padding: 200px 50px;
		background-image: url('../img/building-1080599_1280.webp');
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}
