.privacy-policy {
	display: flex;
	justify-content: center;
	align-items: center;
}
.privacy-policy__box {
	font-size: 16px;
	margin: 80px 0;
}
.privacy-policy__title,
.privacy-policy__subtitle {
	padding: 15px;
	font-size: 20px;
	text-align: center;
	color: var(--main-color);
}
.privacy-policy__title {
	font-size: 25px;
}
.privacy-policy__text {
	line-height: 1.5;
}

@media (min-width: 992px) {
	.privacy-policy__box {
		margin-top: 200px;
	}
}
