.work-with-us__box {
	position: relative;
	overflow: hidden;
	padding-bottom: 50px;
}
.work-with-us_hero {
	position: relative;
	height: 70vh;
	width: 100%;
	min-height: 400px;
	background-image: url('../img/work-with-us/construction-1921518_1280.jpg');
	background-size: cover;
	background-position: center;
}

.work-with-us__boxes {
	padding-bottom: 10px;
}
.work-with-us__box-title {
	color: var(--main-color);
}

.work-with-us__box-text,
.work-with-us__box-card {
	font-size: 18px;
	line-height: 1.8;
	font-weight: 400;
}
.work-with-us__box-text p::first-letter {
	font-size: 20px;
	font-weight: 700;
	color: var(--main-color);
}
.work-with-us__box-text p,
.work-with-us__box-text-right p {
	margin-bottom: 25px;
}
.work-with-us__box-text-right {
	padding-left: 10px;
	text-align: right;
}
.work-with-us__box-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.work-with-us__box-section {
	background-color: var(--secondary-color);
}
.work-with-us__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin: 20px;
	font-size: 50px;
	width: 300px;
	height: 150px;
	border: 1px solid var(--secondary-color);
}
.work-with-us__item:nth-child(odd) {
	background-color: var(--main-color);
}
.work-with-us__title {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: normal;
	padding: 10px;
}
.work-with-us__item:nth-child(even) .work-with-us__title,
.work-with-us__item:nth-child(even) .bi {
	color: var(--main-color);
}
.work-with-us__item:nth-child(odd) .work-with-us__title,
.work-with-us__item:nth-child(odd) .bi {
	color: var(--secondary-color);
}
.work-with-us__box-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.work-with-us__box-text a {
	color: var(--main-color);
}
.work-with-us__box-contact-icons {
	display: flex;
	list-style: none;
	padding: 20px;
}
.work-with-us__box-contact-icon a {
	margin: 25px;
	font-size: 50px;
	color: var(--main-color);
}
.work-with-us__box-contact-icon {
	animation: scale 2s infinite ease-in-out;
}
.swiper {
	width: 100%;
	max-height: 600px;
	max-width: 400px;
}
.work-with-us__swiper {
	overflow: hidden;
	padding: 20px 10px;
	background-color: var(--main-color);
}
.swiper-button {
	color: var(--main-color);
	cursor: pointer;
}
.work-with-us__swiper-title {
	margin: 30px;
	color: var(--secondary-color);
}

@media (min-width: 992px) {
	.work-with-us_hero {
		background-position: top;
		top: 100px;
		min-height: 600px;
	}
	.work-with-us__box {
		margin-top: 80px;
	}
	.work-with-us__box-text,
	.work-with-us__box-card {
		font-size: 20px;
	}
	.work-with-us__box-text-right {
		padding-left: 100px;
	}
	.work-with-us__title {
		font-size: 30px;
	}
	.work-with-us__box-contact {
		padding: 20px;
	}
	.work-with-us__swiper-title {
		margin: 60px;
	}
	.work-with-us__swiper {
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--main-color);
	}

	.work-with-us__item {
		opacity: 0;
		animation: fadeIn 1s ease forwards;
	}

	.work-with-us__item:nth-child(1) {
		animation-delay: 0s;
	}

	.work-with-us__item:nth-child(2) {
		animation-delay: 0.5s;
	}

	.work-with-us__item:nth-child(3) {
		animation-delay: 1s;
	}

	.work-with-us__item:nth-child(4) {
		animation-delay: 1.5s;
	}

	.work-with-us__item:nth-child(5) {
		animation-delay: 2s;
	}

	.work-with-us__item:nth-child(6) {
		animation-delay: 2.5s;
	}
}
